# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Setuptools/packaging metadata
*.manifest
*.spec

# PyInstaller
*.spec
*.pyz
*.pyz.pyc
*.tar.gz

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
pytest_cache/

# MyPy cache
.mypy_cache/

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs and local debug files
logs/
*.log
cache/
trivy
